.contactForm {
  margin-bottom: 40px;
}

.inputNameLabel,
.inputTelNumberLabel {
  display: block;
  margin-bottom: 20px;
}

.inputName,
.inputTelNumber {
  display: block;
  width: 90%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  font-family: "Russo One";
  font-size: 18px;
  color: var(--secondary-text-color);
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  box-shadow: var(--basic-box-shadow);
}

@media screen and (min-width: 768px) {
  .inputName,
  .inputTelNumber {
    width: 40%;
  }
}

.inputTelNumberLabel {
}

.inputTelNumber {
}

.inputLabelText {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: var(--medium-font-weight);
}
